body {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: medium;
    background-color: rgb(183, 207, 247);}

    title 
    {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
h1 

{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(115, 200, 223); }
h2

 {color: rgb(106, 192, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
